<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="eng">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!--    <link rel="stylesheet" href="../static/assets/style.css">-->
    <link rel="stylesheet" th:href="@{/assets/css/style.css}" type="text/css"/>
    <link rel="stylesheet" href = "../static/assets/css/style.css" type="text/css">


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title th:text="${title} + '!'"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="https://vova-nik.github.io/get.borders/getborders.js"></script>
</head>
<body>
<header th:insert="bloks/header :: header"></header>
<div class="container">
<div class="local-menu">
    <a href="http://localhost:8081/">REST READ</a>
</div>
    <div class="row mt-5">
        <div class="col reddy">col1</div>
        <div class="col reddy">col2</div>
        <div class="col reddy">col3</div>
        <div class="col reddy">col4</div>
        <div class="col reddy">col5</div>
        <div class="col reddy">col6</div>
    </div>
    <div class="row my-row">
        <div class="col-8 browny">col-8</div>
        <div class="col-4 browny">col-4</div>
    </div>
    <div class="row my-row">
        <div class="col-8 browny"> DB Name   spring_web_blog </div>
        <div class="col-4 browny">col-4</div>
    </div>
    spring_web_blog
</div>

<footer th:insert="bloks/footer :: footer"></footer>

</body>
</html>

