<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--    <link rel="stylesheet" href="./static/assets/css/style.css">-->
    <link rel="stylesheet" href = "assets/css/style.css" type="text/css">
    <script src="assets/js/script.js"></script>

    <title>index</title>
</head>
<body><h1>Its index</h1>
    <div class="for_script"></div>
<div class="img">
    <img src="34.jpg" alt="">
</div>

<!--    <script src="../assets/js/script.js"></script>-->
<!--    <script src="assets/js/script.js"></script>-->

</body>

</html>