
<div th:fragment="footer">
    <div class="container">
        <div class="row header">
            <div class="col-7 nav"><a class="link" href="https://itproger.com/course/java-spring">IT Proger Spring course</a></div>
            <div class="col-5 nav">
                <a class="link" href="/">Home</a>
                <a class="link" href="/blog-main">Blog</a>
                <a class="link" href="#">page3</a>
                <a class="link" href="/about">About</a>
            </div>
        </div>
    </div>
</div>